@(vv: model.category.ViewValueCategoryList)(implicit request: MessagesRequestHeader)
@common.Default(vv){
<button onclick="location.href='@vv.link("home")'">戻る</button>
<button onclick="location.href='@vv.link("createCategory")'">カテゴリー作成</button>
<table>
    <thead>
        <tr>
            <th>カテゴリー名</th>
            <th>slug</th>
            <th>色</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(category <- vv.categoryList) {
        <tr>
            <td style="color: @category.color.name">@category.name</td>
            <td>@category.slug</td>
            <td>@category.color.name</td>
            <td><button onclick="location.href='@controllers.routes.CategoryController.showUpdateForm(category.id.get)'">更新</button></td>
            <td>
                @helper.form(controllers.routes.CategoryController.removeWithTodo(category.id.get)) {
                    @helper.CSRF.formField
                    <button>削除</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}