@(vv: model.category.ViewValueCreateCategory)(implicit request: MessagesRequestHeader)

@common.Default(vv){
    @helper.form(vv.action) {
        @helper.CSRF.formField

        @helper.inputText(vv.form("name"), '_label -> "カテゴリー名")
        @helper.inputText(vv.form("slug"), '_label -> "slug")
        @helper.select(
            field   = vv.form("color"),
            options = vv.colorSelect,
            args    = '_label -> "カラー"
        )
        <button type="submit">作成</button>
        <button type="button" onclick="history.back()">戻る</button>
    }

    @if(vv.form.hasGlobalErrors) {
    <ul>
        @for(error <- vv.form.globalErrors) {
        <li>@error.format</li>
        }
    </ul>
    }
}