@(vv: model.ViewValueTodoList)
@common.Default(vv){
<button onclick="location.href='@vv.link("createForm")'">Todo作成</button>
<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>ステータス</th>
            <th>カテゴリ</th>
            <th>本文</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(todo <- vv.todoList) {
        <tr>
            <td>@todo.title</td>
            <td>@todo.state.name</td>
            <td style="color:@todo.color.name">@todo.categoryName</td>
            <td>@todo.body</td>
            <td>
                <button onclick="location.href='/todo/update/@todo.id'">更新</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}